<!-- Page -->
<!-- Main -->
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height) lg:in-data-kt-[sticky-header=on]:pt-(--header-height)">
  <header vrw-header 
          class="flex items-center shrink-0 bg-background h-(--header-height) lg:data-[kt-sticky=true]:sticky"
          data-kt-sticky="true"
          data-kt-sticky-class="lg:transition-[height] lg:fixed lg:z-10 lg:top-0 lg:left-0 lg:right-0 lg:shadow-xs lg:backdrop-blur-md lg:bg-white/70 lg:dark:bg-coal-500/70 lg:dark:border-b lg:dark:border-b-light"
          data-kt-sticky-name="header" 
          data-kt-sticky-offset="100px" 
          id="header">
  </header>

  <div vrw-navbar
       class="bg-muted hidden lg:flex lg:items-stretch border-y border-input lg:mb-10"
       id="navbar">
  </div>

  <!-- Wrapper Container -->
  <div class="container-fixed w-full flex px-0">
    <!-- Content -->
    <main class="flex flex-col grow pb-20 lg:pb-0" id="content" role="main">
      <!-- Toolbar -->
      <div vrw-toolbar class="mb-5 lg:mb-7.5">
      </div> <!-- End of Toolbar -->
      <!-- Container -->
      <router-outlet></router-outlet>
      <!-- End of Container -->
      <!-- Footer -->
      <footer vrw-footer class="footer my-10"></footer>
      <!-- End of Footer -->
    </main>
    <!-- End of Content -->
  </div>
  <!-- End of Page -->
</div>

<vrw-mobile-bottom-nav></vrw-mobile-bottom-nav>
