  <div class="border-gray-100 rounded-2xl text-center w-full shadow-sm border bg-white">
    <div class="w-full mb-4">
      <p-selectButton
          fluid 
          size="small" 
          [options]="stateOptions" 
          optionLabel="label"
          (onChange)="changeOption($event.value)"
          optionValue="value">
        <ng-template let-item>
          <button>{{item.label}}</button>
        </ng-template>
      </p-selectButton>
    </div>

    <apx-chart
      [series]="chartOpts().series!"
      [chart]="chartOpts().chart!"
      [xaxis]="chartOpts().xaxis!"
      [dataLabels]="chartOpts().dataLabels!"
    >
    </apx-chart>
  </div>
        