<!-- Container -->
<div class="kt-container-fixed lg:flex lg:flex-wrap lg:justify-between lg:items-center gap-2 px-0 lg:px-7.5">
	<!-- Mega Menu -->
	<div class="kt-menu items-stretch flex-col lg:flex-row gap-5 lg:gap-7.5 grow lg:grow-0" data-kt-menu="true"
		id="mega_menu">
		<div class="kt-menu-item active">
			<a class="kt-menu-link lg:py-3.5 border-b border-b-transparent kt-menu-item-active:border-b-mono text-foreground kt-menu-item-hover:text-mono kt-menu-item-active:text-mono kt-menu-item-here:border-b-mono kt-menu-item-here:text-mono"
				href="/metronic/tailwind/demo9/">
				<span class="kt-menu-title font-medium text-foreground text-sm">
					Panel
				</span>
			</a>
		</div>
		<div class="kt-menu-item active">
			<a class="kt-menu-link lg:py-3.5 border-b border-b-transparent kt-menu-item-active:border-b-mono text-foreground kt-menu-item-hover:text-mono kt-menu-item-active:text-mono kt-menu-item-here:border-b-mono kt-menu-item-here:text-mono"
				href="/metronic/tailwind/demo9/">
				<span class="kt-menu-title font-medium text-foreground text-sm">
					Cuentas
				</span>
			</a>
		</div>
	</div>
	<!-- End of Mega Menu -->
</div>
<!-- End of Container -->