<div class="kt-card">
  <div class="kt-card-content pb-4 pt-4">
    <div class="grid grid-cols-2 gap-4">
      <a
          [routerLink]="['/transactions/create']"
          [queryParams]="{ type: 0 }"
          type="button"
          class="kt-btn p-9 rounded-3xl kt-btn-secondary flex flex-col gap-1"
      >
        <i class="ki-filled ki-arrow-up-refraction"></i>
        <span class="text-xs">Income</span>
      </a>
      <a
          [routerLink]="['/transactions/create']"
          [queryParams]="{ type: 1 }"
          type="button"
          class="kt-btn p-8 rounded-3xl kt-btn-secondary flex flex-col gap-1"
      >
        <i class="ki-filled ki-arrow-down-refraction"></i>
        <span class="text-xs">Expense</span>
      </a>
      <a
          [routerLink]="['/transactions/create']"
          [queryParams]="{ type: 2 }"
          type="button"
          class="kt-btn p-8 rounded-3xl kt-btn-secondary flex flex-col gap-1"
      >
        <i class="ki-filled ki-phone"></i>
        <span class="text-xs">Transfer</span>
      </a>
    </div>
  </div>
</div>
